.devcontainer/**
.github/**
.vscode/**
.vscode-test/**
.gitignore
*.vsix
assets/**
!assets/icon.png
examples/**
syntaxes/*.yaml
src/**
node_modules/**
.yarn/**
.yarnrc.yml
.eslintrc*
.prettierrc*
tsconfig.json
yarn.lock
